:host {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  button {
    max-width: 100px;
  }

  .panel {
    display: flex;
    gap: 90px;
  }
  .list {
    max-width: 30%;
  }
}